[Desktop Entry]
Version=1.0
Name=Conkeror
GenericName=Web Browser
Comment=Mozilla-base emacs-style web browser
Exec=/usr/local/bin/conkeror %F
TryExec=conkeror
Icon=/usr/share/icons/hicolor/scalable/apps/conkeror.png
Type=Application
Terminal=false
